<div [formGroup]="form">
  <mat-form-field>
    <input class="phone-number-field form-field" type="text" matInput [ccaNumericFormat]="form.get(controlName)" [formControlName]="controlName" [placeholder]="placeholder" [required]="isControlRequired(form.get(controlName))"/>
    <mat-error *ngIf="form.get(controlName).hasError('required')">
      <i>This field is required</i>
    </mat-error>
    <mat-error *ngIf="form.get(controlName).hasError('lengthequals') && !form.get(controlName).hasError('required')">
      <i>Must be {{form.get(controlName).getError('lengthequals').value}} digits</i>
    </mat-error>
  </mat-form-field>
</div>
