<div class="p-10">
  <cca-key-value-with-placeholder key="Display Name" [value]="currentUser.displayName"></cca-key-value-with-placeholder>
  <cca-key-value-with-placeholder key="Username" [value]="currentUser.username"></cca-key-value-with-placeholder>
  <cca-key-value-with-placeholder key="Email Address" [value]="currentUser.email"></cca-key-value-with-placeholder>
  <cca-key-value-with-placeholder key="Phone Number" [value]="currentUser.phone?.number"></cca-key-value-with-placeholder>
  <cca-key-value-with-placeholder key="Mobile Number" [value]="currentUser.mobile?.number"></cca-key-value-with-placeholder>
  <cca-key-value-with-placeholder key="Employee ID" [value]="currentUser.employeeId"></cca-key-value-with-placeholder>
  <cca-key-value-with-placeholder key="Title" [value]="currentUser.title"></cca-key-value-with-placeholder>
  <cca-key-value-with-placeholder key="Department" [value]="currentUser.department"></cca-key-value-with-placeholder>
  <cca-key-value-with-placeholder key="Company" [value]="currentUser.company"></cca-key-value-with-placeholder>
</div>
