@import '~@angular/material/theming';
@import '../../../../colors.scss';

.action-toolbar-button-container {
  .toolbar-button {
    background-color: mat-color($cca-app-action);
    color: white;

    &:disabled {
      background-color: mat-color($cca-app-muted);
    }
  }

  .mat-raised-button {
    height: 24px;
    line-height: 24px;
  }
}
