.permissions-item-container {
  width: 400px;
  height: 100%;
  margin-bottom: 10px;
}

.permissions-main-item-container {
  width: 400px;
  height: 100%;
  margin-bottom: 20px;
}

.align-forms-to-header {
  margin-top: -60px;
}
