<cca-key-value-with-placeholder key="Serial Number" [value]="serialNumber" [keyWidthPercent]="50"></cca-key-value-with-placeholder>
<cca-key-value-with-placeholder key="Generate New Card Number" [value]="replacePan" [keyWidthPercent]="50"></cca-key-value-with-placeholder>
<cca-key-value-with-placeholder key="First Name" [value]="cardHolder?.firstName" [keyWidthPercent]="50"></cca-key-value-with-placeholder>
<cca-key-value-with-placeholder key="Last Name" [value]="cardHolder?.lastName" [keyWidthPercent]="50"></cca-key-value-with-placeholder>
<cca-key-value-with-placeholder key="Phone Number" [value]="cardHolder?.phone" [keyWidthPercent]="50"></cca-key-value-with-placeholder>
<cca-key-value-with-placeholder key="Birth Year" [value]="cardHolder?.birthYear" [keyWidthPercent]="50"></cca-key-value-with-placeholder>
<cca-key-value-address key="Address" [address]="cardHolder?.address" [keyWidthPercent]="50"></cca-key-value-address>