.vertical-summary {
  position: relative;
  top: 0;
  left: 0;
  background-color: white;

  &.pinned {
    position: fixed;
    left: 55px;
    top: 95px;

    &.session-collapsed {
      top: 95px;
    }

    &.dock-pinned {
      left: 365px;
    }
  }

  .mat-divider {
    margin: 7px 0;
  }
}
