<cca-key-value-with-placeholder key="Serial Number" [value]="serialNumber"></cca-key-value-with-placeholder>
<cca-key-value-with-placeholder key="Amount" [value]="amount"></cca-key-value-with-placeholder>
<cca-key-value-with-placeholder key="Resulting Balance" [value]="resultingBalance"></cca-key-value-with-placeholder>
<cca-key-value-with-placeholder key="Reason" [value]="reason"></cca-key-value-with-placeholder>
<cca-key-value-with-placeholder key="Comment" [value]="comment"></cca-key-value-with-placeholder>
