<div class="summary-section account-description-section container">
  <cca-key-value-with-placeholder key="Account Number" [value]="selection?.getAccount()?.identifiers.accountNumber"></cca-key-value-with-placeholder>
  <cca-key-value-with-placeholder key="Description" [value]="selection?.getAccount()?.description"></cca-key-value-with-placeholder>
  <cca-key-value-with-placeholder key="UPC" [value]="selection?.getAccount()?.identifiers.upc"></cca-key-value-with-placeholder>
  <cca-key-value-with-placeholder key="VAN" [value]="selection?.getAccount()?.identifiers.van16"></cca-key-value-with-placeholder>
</div>
