<div fxLayout="column" fxLayoutGap="20px">
  <cca-key-value-with-placeholder key="Account Number" [value]="accountNumber"></cca-key-value-with-placeholder>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
    <cca-account-amount [amount]="availableBalance" label="Available Balance" fxFlex="0"></cca-account-amount>
    <fa-icon icon="plus"></fa-icon>
    <cca-account-amount [amount]="amount" label="Amount" fxFlex="0"></cca-account-amount>
    <fa-icon icon="equals"></fa-icon>
    <cca-account-amount [amount]="newBalance" label="New Balance" fxFlex="0"></cca-account-amount>
  </div>
  <div>
    <cca-key-value-with-placeholder key="Reason" [value]="reason.description"></cca-key-value-with-placeholder>
    <cca-key-value-with-placeholder key="Comment" [value]="comment"></cca-key-value-with-placeholder>
  </div>
</div>
