<h4>Permission Category</h4>
<form [formGroup]="wizardForm" class="container key-50" fxLayout="column">
  <cca-key-value-with-placeholder *ngIf="wizard.model.editMode"
                                  key="ID"
                                  [value]="wizard.model.permissionCategory.id"
                                  class="mb-15"></cca-key-value-with-placeholder>
  <cca-key-value-with-placeholder *ngIf="wizard.model.editMode"
                                  key="System Name"
                                  [value]="wizard.model.permissionCategory.systemName"
                                  class="mb-15"></cca-key-value-with-placeholder>
  <div fxLayout="column" fxFlex="grow">
    <mat-checkbox formControlName="locked" class="mb-15">Is Locked</mat-checkbox>
    <cca-text-field *ngIf="!wizard.model.editMode" [form]="wizardForm" controlName="systemName" placeholder="System Name"></cca-text-field>
    <cca-text-field [form]="wizardForm" controlName="displayName" placeholder="Display Name"></cca-text-field>
    <cca-text-field [form]="wizardForm" controlName="description" placeholder="Description"></cca-text-field>
  </div>
</form>
