.filter-field {
  position: relative;
  bottom: 1px;
}

.spinner {
  position: relative;
}

h4 {
  margin: 0;
}

fa-icon {
  margin-right: 10px;
}

.info-container {
  background-color: #f0e9e9;
  padding: 10px;
}
