<div class="filter-container mt-5">
  <mat-form-field class="no-bottom-padding">
    <input matInput placeholder="Filter Groups" [formControl]="groupsControl">
  </mat-form-field>
</div>
<div class="scroll-card">
  <mat-list role="list">
    <mat-list-item *ngFor="let group of currentGroups" role="listitem">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center center">
          <div class="avatar" fxLayoutAlign="center center">{{group.displayName.substr(0,1)}}</div>
        </div>
      </div>
      <div fxFlex>
        <div class="display-name-text">{{group.displayName}}</div>
        <div class="description-text text-muted" *ngIf="group.description">{{group.description}}</div>
      </div>
    </mat-list-item>
  </mat-list>
</div>
