<div class="container" fxLayout="column">
  <cca-select-field [form]="wizardForm"
                    [options]="outcomeOptions"
                    placeholder="Outcome"
                    controlName="outcome"></cca-select-field>
  <cca-select-field [form]="wizardForm"
                    [options]="resultOptions"
                    placeholder="Result"
                    controlName="result"></cca-select-field>
  <cca-comment-field [form]="wizardForm"
                     placeholder="Comment"
                     controlName="comment"></cca-comment-field>
</div>
