<cca-key-value-with-placeholder key="Date" [value]="transaction.businessDate?.displayValue"></cca-key-value-with-placeholder>
<cca-key-value-with-placeholder key="Request" [value]="transaction.request?.description"></cca-key-value-with-placeholder>
<cca-key-value-with-placeholder key="Response" [value]="transaction.response?.description"></cca-key-value-with-placeholder>
<cca-key-value-with-placeholder key="Amount" [value]="transaction.amounts?.authorizedAmount?.displayValue"></cca-key-value-with-placeholder>
<cca-key-value-with-placeholder key="Fee" [value]="transaction.fee?.amount?.displayValue"></cca-key-value-with-placeholder>