.email-template {
  min-height: 80px;
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
  background-color: #FAFAFA;
}

.notification-details {
  padding: 15px;
}

cca-fsapi-status {
  width: 100%;
}
