<div [formGroup]="form">
  <div fxLayout="row" fxLayoutGap="10px">
    <cca-text-field class="default-field-width" [form]="form" controlName="firstName" placeholder="First Name"></cca-text-field>
    <cca-text-field class="default-field-width" [form]="form" controlName="lastName" placeholder="Last Name"></cca-text-field>
    <cca-date-field [form]="form" controlName="dateOfBirth" placeholder="Date of Birth"></cca-date-field>
    <cca-text-field class="default-field-width" [form]="form" controlName="mothersMaidenName" placeholder="Mother's Maiden Name"></cca-text-field>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <cca-phone-number-field [form]="form" controlName="homePhone" placeholder="Home Phone"></cca-phone-number-field>
    <cca-phone-number-field [form]="form" controlName="mobilePhone" placeholder="Mobile Phone"></cca-phone-number-field>
    <cca-email-address-field [form]="form" controlName="email"></cca-email-address-field>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <cca-identification-field [form]="form" typeControlName="identificationType" numberControlName="identificationNumber"></cca-identification-field>
  </div>
  <div>
    <h3 class="text-primary" style="margin-bottom:0;">Physical Address</h3>
    <cca-address-form [form]="form.get('physicalAddress')"></cca-address-form>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <h3 class="text-primary" style="margin-bottom:0;">Mailing Address</h3>
    <span fxFlex></span>
    <mat-checkbox formControlName="isMailingSameAsPhysical" (change)="toggleMailingAddress()">Same as Physical</mat-checkbox>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <cca-address-form [form]="form.get('mailingAddress')" *ngIf="!form.get('isMailingSameAsPhysical').value"></cca-address-form>
  </div>
</div>
