<mat-card class="member-card-container">
  <mat-card-content fxLayout="row" fxLayoutGap="10px">
    <div fxLayout="column">
      <div fxLayout="row">
        {{groupData.displayName}}
      </div>
    </div>
    <span fxFlex></span>
    <div fxLayout="row" fxFlexAlign="center" fxLayoutGap="10px">
      <fa-icon class="text-error" icon="times-circle" (click)="removeGroup(groupData)" style="cursor: pointer"></fa-icon>
      <fa-icon class="text-accent" icon="arrow-right"></fa-icon>
    </div>
  </mat-card-content>
</mat-card>
