<h4>Confirm Activation</h4>
<cca-key-value [key]="identifierLabel">{{request.identifier}}</cca-key-value>
<cca-key-value key="Location">{{request.locationName}}</cca-key-value>
<cca-key-value key="Merchant">{{request.merchantName}}</cca-key-value>
<cca-key-value key="Terminal #">{{request.terminalNumber}}</cca-key-value>
<cca-key-value key="Amount" *ngIf="request.amount">{{request.amount | currency}}</cca-key-value>
<cca-key-value key="Note">{{request.note}}</cca-key-value>
<cca-key-value key="Comment">{{request.comment}}</cca-key-value>
