<cca-simple-panel color="orange">
  <h4>Complete the form below.</h4>
</cca-simple-panel>
<div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 0 10px">
  <cca-numeric-text-field class="default-field-width-short" [form]="wizardForm" controlName="terminalId" placeholder="Terminal Key"></cca-numeric-text-field>
  <button [ngClass]="wizardForm.get ( 'terminalId' ).valid?'rotated-right':'rotated-left'" class="user-menu-button container" (click)="getChallengePassword()" mat-mini-fab color="accent" [disabled]="!wizardForm.valid || !wizardForm.get('terminalId').value.length" matTooltip="Get Challenge Password">
    <cca-spinner #loadingSpinner color="primary" [size]="20" rounded="true"></cca-spinner>
    <fa-icon icon="arrow-right"></fa-icon>
  </button>
  <div>
    <span class="text-muted">Password: </span>
    <span *ngIf="newPassword" class="text-accent">{{newPassword}}</span>
    <span *ngIf="!newPassword" class="text-muted">{{tempPassword}}</span>
  </div>
</div>




