<mat-expansion-panel hideToggle [expanded]=expanded>
  <mat-expansion-panel-header [expandedHeight]="expandedHeight" [collapsedHeight]="collapsedHeight">
    <mat-panel-title>
      <h3 class="text-primary title-header">{{title}}</h3>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-content></ng-content>
  <mat-action-row *ngIf="hasActionRow">
    <cca-action-toolbar class="action-toolbar" [actions]="actions"
                        [buildingActions]="buildingActions"></cca-action-toolbar>
  </mat-action-row>
</mat-expansion-panel>
