<div class="dashboard-container" fxLayout="row wrap" fxLayoutGap="15px">
  <div class="quick-search">
    <cca-card-panel header="Quick Search" [isCollapsible]="false">
      <cca-quick-search-widget></cca-quick-search-widget>
    </cca-card-panel>
  </div>
  <div class="quick-lookup">
    <cca-card-panel header="Quick Lookup" [isCollapsible]="false">
      <cca-quick-lookup-widget></cca-quick-lookup-widget>
    </cca-card-panel>
  </div>
  <div class="transfer-requests">
    <cca-card-panel header="C2C Transfer Requests" [isCollapsible]="false">
      <cca-c2c-transfer-requests-widget></cca-c2c-transfer-requests-widget>
    </cca-card-panel>
  </div>
</div>
