<div [formGroup]="form">
  <div fxLayout="row" fxLayoutGap="10px">
    <cca-text-field [form]="form" controlName="firstName" placeholder="First Name"></cca-text-field>
    <cca-text-field [form]="form" controlName="lastName" placeholder="Last Name"></cca-text-field>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <cca-date-field [form]="form" controlName="dateOfBirth" placeholder="Date of Birth"></cca-date-field>
    <cca-text-field [form]="form" controlName="mothersMaidenName" placeholder="Mother's Maiden Name"></cca-text-field>
  </div>
</div>
  