.info-container {
  margin: 20px 0;
}

.field-width {
  width: 215px;
}

.select-width {
  width: 180px;
}

.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
