<div class="summary-section location-contact-section container">
  <cca-key-value-with-placeholder class="location-manager-name" key="Manager Name" [value]="selection?.getLocation()?.managerName"></cca-key-value-with-placeholder>
  <cca-key-value-with-placeholder class="location-phone" key="Phone" [value]="getPreferredPhoneNumber()?.number"></cca-key-value-with-placeholder>
  <cca-key-value-with-placeholder class="location-email" key="Email" [value]="selection?.getLocation()?.emailAddress"></cca-key-value-with-placeholder>
</div>
  